.header {
  background: yellow;
  height: 125px;
}

.header h1 {
  padding-top: 10px; ;
  text-align: center;
  color: white;
  font-size: 70px;
}

.container a {
  height: 30px;
  color: brown;
  font-size: 40px;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  line-height: 3;
}

a {
  
}
