h1 {
    color: #006466;
}

a.btn {
    background-color: #0b525b;
}

.btn {
    background-color: #0b525b;
}

.btn.rounded {
    color: white;
    background-color: #0b525b;
}

.navbar {
    background-color: #006466;
}

.footer {
    background-color: #006466;
}

.lead {
    color:purple ;
}

.form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

svg {
    color: black;
}

img {
    color: #0b525b;
}

a.btn.text-light:hover {
    background-color: grey;
}